// Kleuren
$background-dark: #1e1e2f;
$background-header: #10101d;
$border-color: #e50914;
$hover-background: #182448;
$dropdown-background: #252540;
$text-color: #ffffff;
$button-background: #e50914;
$button-hover: #d40812;

// Afmetingen
$padding-small: 10px;
$padding-medium: 12px;
$border-radius: 4px;
$margin-small: 10px;
$width-search-bar: 200px;
$font-size-header-large: 2.5rem;
$font-size-header-medium: 1.8rem;
$font-size-header-small: 1.5rem;
$font-size-header-xsmall: 1.2rem;
$font-size-paragraph-large: 1.2rem;
$font-size-paragraph-medium: 1rem;
$font-size-paragraph-small: 0.9rem;
$font-size-paragraph-xsmall: 0.8rem;

// Operators voor responsive aanpassingen
$padding-responsive: $padding-small * 1.5;
$margin-responsive: $margin-small * 2;
$width-responsive: $width-search-bar / 2;

// Mixins
@mixin padding($padding) {
  padding: $padding;
}

@mixin margin($margin) {
  margin: $margin;
}

@mixin font-size($size) {
  font-size: $size;
}

// Algemene styling
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.app-container {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: $background-dark;
  color: $text-color;

  .header {
    width: 100%;
    @include padding($padding-small);
    background-color: $background-header;
    border-bottom: 2px solid $border-color;
    position: relative;
    z-index: 1000;

    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .nav-item {
        position: relative;
        @include margin(0 $margin-responsive);
        cursor: pointer;
        @include padding($padding-small 20px);
        border-radius: $border-radius;
        transition: background-color 0.3s;

        &:hover {
          background-color: $hover-background;
        }
      }

      .nav-links {
        list-style: none;
        display: flex;
        @include margin(0);
        @include padding(0);

        a {
          color: $text-color;
          text-decoration: none;
          display: block;
          width: 100%;
          height: 100%;

          &:hover {
            color: $text-color;
          }
        }
      }
    }

    .hamburger-menu {
      display: none;
      @include font-size(1.5rem);
      cursor: pointer;
      color: $text-color;
    }

    .header-content {
      text-align: center;
      @include margin(20px 0 0 0);

      h1 {
        @include font-size($font-size-header-large);
        @include margin(0 0 $padding-small 0);
      }

      p {
        @include font-size($font-size-paragraph-large);
      }
    }
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: $dropdown-background;
    @include padding($padding-small);
    list-style: none;
    border-radius: 5px;

    li {
      @include padding(5px 0);
    }
  }

  .search-bar {
    display: flex;
    align-items: center;
    margin-left: auto;

    input {
      @include padding(0.8rem);
      width: $width-responsive; // Gebruik van operator voor responsive breedte
      border: solid gray 1px;
      border-radius: $border-radius;
      margin-right: 2rem;
    }

    button {
      @include padding(8px 16px);
      background-color: $button-background;
      color: $text-color;
      border: none;
      border-radius: $border-radius;
      margin-right: 1rem;
      cursor: pointer;

      &:hover {
        background-color: $button-hover;
      }
    }
  }
}

@media (max-width: 768px) {
  .app-container {
    .header {
      .navbar {
        flex-direction: column;
        align-items: flex-start;

        .nav-links {
          display: none;
          flex-direction: column;
          width: 100%;

          &.show {
            display: flex;
          }
        }

        .nav-item {
          @include margin($margin-small 0);
        }
      }

      .search-bar {
        @include margin($margin-small 0 0 0);
        width: 100%;
        justify-content: space-between;

        input {
          width: calc(100% - 100px);
          margin-right: 0;
        }

        button {
          width: 100px;
          @include margin($margin-small 0 0 0);
        }
      }

      .header-content {
        h1 {
          @include font-size($font-size-header-medium);
        }

        p {
          @include font-size($font-size-paragraph-medium);
        }
      }

      .hamburger-menu {
        display: block;
      }
    }
  }
}

@media (max-width: 480px) {
  .app-container {
    .header {
      .header-content {
        h1 {
          @include font-size($font-size-header-small);
        }

        p {
          @include font-size($font-size-paragraph-small);
        }
      }

      .search-bar {
        input {
          width: 100%;
          @include margin($margin-small 0 0 0);
        }

        button {
          width: 40%;
          @include margin($margin-small 0 0 5px);
        }
      }
    }
  }
}

@media (max-width: 270px) {
  .app-container {
    .header {
      .header-content {
        h1 {
          @include font-size($font-size-header-xsmall);
        }

        p {
          @include font-size($font-size-paragraph-xsmall);
        }
      }

      .search-bar {
        input {
          @include font-size($font-size-paragraph-xsmall);
        }

        button {
          @include font-size($font-size-paragraph-xsmall);
          @include padding(6px 12px);
        }
      }
    }
  }
}
