$bg-color: #1e1e2f;
$star-color: #ccc;
$star-filled-color: gold;

.recensie-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  overflow-x: hidden;
}

.film-posters {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 50%;
}

.film-poster {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  img {
    width: 90%;
    height: 90%;
    object-fit: cover;
    border-radius: 0.5rem;
  }
}

.review-section {
  width: 40%;
  background-color: $bg-color;
  padding: 20px;
  border-radius: 8px;
}

.star-rating {
  display: flex;
  cursor: pointer;
  margin-bottom: 10px;

  .star {
    color: $star-color;
    margin-right: 5px;

    &.filled {
      color: $star-filled-color;
    }
  }
}

.recensies-overview {
  margin-top: 10px;
}

.recensie-item {
  margin-bottom: 10px;
}

textarea {
  width: 100%;
  max-height: 100px;
}

@media (max-width: 768px) {
  .film-posters {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px; 
    margin-bottom: 30px;
  }

  .recensie-container {
    flex-direction: column;
  }

  .review-section {
    width: 100%;
  }

  .film-poster {
    img {
      width: 100%;
      height: 100%;
      margin-left: 100%; 
      object-fit: cover;
      border-radius: 0.5rem;
    }
  }
}
